<div id="auth_modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="authModalActions">


  <div class="modal-content">

    <div class="row">

      <div class="row">

        <a class="modal-close right" (click)="closeModal()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>


      <div class="row">

        <ul class="tabs" materialize="tabs">

          <li class="tab col s6 text-blue text-darken-4">
            <a
                    [ngClass]="{'active': true}"
                    (click)="setSignInMode()"
            >
              Sign in
            </a>
          </li>

          <li class="tab col s6">

            <a
                    [ngClass]="{'active': isSignUpMode()}"
                    (click)="setSignUpMode()">
              Sign up
            </a>

          </li>

        </ul>

      </div>




      <div class="col s12">
        <app-signin-form *ngIf="isSignInMode()" (signinFormResult)="onSignInResult($event)"></app-signin-form>
        <app-signup-form *ngIf="isSignUpMode()" (signUpFormResult)="onSignUpResult($event)" ></app-signup-form>
      </div>

    </div>





  </div>

</div>