<div class="container">
  <div class="row" style="margin-top: 40px">

    <div  class="col s8 offset-s2">

      <div class="card ">
        <div class="card-content">

          <h5 class="center">
            User profile
          </h5>

          <ul class="collection">
            <li class="collection-item"> <b>Email:</b> {{userData.email}}</li>
            <li class="collection-item"> <b>Name: </b>{{userData.name}}</li>
            <li class="collection-item"> <b>Username: </b> {{userData.nickname}}</li>
          </ul>

        </div>
      </div>


    </div>
  </div>
</div>
