


<app-banner></app-banner>


<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2"> Welcome </h2>
      </div>

      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-image-flash-on"></i>
          <h5 class="promo-caption">Title 1</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-social-group"></i>
          <h5 class="promo-caption">Title 2</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-hardware-desktop-windows"></i>
          <h5 class="promo-caption">Title 3</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
      </div>
    </div>

    <div class="col s12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et elit sed nisl laoreet congue. Phasellus ullamcorper eros sed dignissim malesuada. Mauris molestie sodales metus, vitae pellentesque magna. Vestibulum at mauris leo. Sed dolor eros, tincidunt vitae vestibulum et, vestibulum quis turpis. Nullam et iaculis mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Morbi molestie, orci vitae congue porta, lectus lacus sodales ante, eget finibus orci velit vel nunc. Vivamus interdum quis nulla in hendrerit. Quisque sed tellus tellus. Praesent nunc felis, varius vel consectetur nec, aliquam ac odio. Aliquam sodales suscipit mauris nec consequat. Pellentesque facilisis, ipsum ut aliquet consectetur, nisi erat aliquam ante, at pulvinar erat augue quis ligula. Vivamus fermentum, nisl vitae euismod sollicitudin, justo lectus porta ipsum, ac auctor lacus nulla sed arcu. Nunc et libero tellus.
      </p>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et elit sed nisl laoreet congue. Phasellus ullamcorper eros sed dignissim malesuada. Mauris molestie sodales metus, vitae pellentesque magna. Vestibulum at mauris leo. Sed dolor eros, tincidunt vitae vestibulum et, vestibulum quis turpis. Nullam et iaculis mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Morbi molestie, orci vitae congue porta, lectus lacus sodales ante, eget finibus orci velit vel nunc. Vivamus interdum quis nulla in hendrerit. Quisque sed tellus tellus. Praesent nunc felis, varius vel consectetur nec, aliquam ac odio. Aliquam sodales suscipit mauris nec consequat. Pellentesque facilisis, ipsum ut aliquet consectetur, nisi erat aliquam ante, at pulvinar erat augue quis ligula. Vivamus fermentum, nisl vitae euismod sollicitudin, justo lectus porta ipsum, ac auctor lacus nulla sed arcu. Nunc et libero tellus.
      </p>
    </div>
  </div>
</div>

